.loader
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.justify
{
    text-align: justify;
}

.flex
{
    display: flex;
}

.flex-justify-center
{
    justify-content: center;
}

ion-input[type="text"],
ion-input[type="password"],
ion-input[type="number"],
ion-input[type="date"],
ion-input[type="time"],
ion-input[type="email"],
ion-input[type="tel"],
ion-input[type="url"],
ion-input[type="week"],
ion-input[type="month"],
ion-input[type="datetime-local"]
{
    border-bottom: 1px solid #E6E6E6;
}